@import "_Color.scss";
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
/* Hambuger style */
.hamburger {
  float: right;
  width: 100px;
  margin: 0px;
  padding: 0px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  right: 0;
  z-index: 9;

  > span {
    display: block;
    margin: 9px auto;
    background-color: #134141;
    width: 50%;
    height: 5px;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  /* Hambuger hover animation */
  &:hover {
    span:first-child {
      transform: translateY(-5px);
    }

    span:last-child {
      transform: translateY(5px);
    }
  }
}

/* Hambuger click animation to cross */
.hamburger.is-opened {
  span:first-child {
    transform: translateY(13px) rotate(50deg);
  }
  span:nth-child(2) {
    transform: scaleX(0);
  }

  span:last-child {
    transform: translateY(-15px) rotate(-50deg);
  }
}
// inside menu
.inside {
  position: absolute;
  top: 0;
  overflow-x: hidden;
  width:100%;
  height: 45%;
  font-size: 60px;
  background-image: linear-gradient(to right, red, orange);
  display: none;
  white-space: pre-line; 
  > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: "Pridi", serif;
    margin: 5px;
  }
}
.p {
  display: block;
  opacity: 0%;
}
@media screen and (max-width: 961px) {
  .inside {
    display: none;
  }
}