@import "_fonts.scss";
@import "_Color.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_scrolltop.scss";
@import "about-scaled";
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.background {
  background: url(/images/overhead.jpg) no-repeat top;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -2;
  top: 0;
  filter: blur(9px);
  transform: scale(1.1);
}
.title {
  width: 90%;
  text-align: left;
  margin: 20px;
  padding: 109px;
  font-weight: bold;
  color: #9e9e9e;
  position: fixed;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
}

.image {
  width: 100%;
  margin: 50px;
  text-align: center;
  padding: 0;
  &_.blured-macbook {
    margin: 0px;
    width: 540px;
    height: 600px;
  }
  &_.js-shot {
    width: 540px;
    height: 600px;
    margin: 0px;
  }
  &_.wide-shot {
    width: 540px;
    height: 600px;
    margin: 0px;
  }
}
.about {
  text-align: left;
  margin: 5px;
  top: 240px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  color: #999999;
  &_.about_title {
    text-align: center;
    font-size: 40px;
  }
  &_.about_text {
    font-size: 30px;
  }
}
br {
  display: none;
}
.br {
  display: none;
}
