@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

/* Hambuger style */
.hamburger {
  float: right;
  width: 100px;
  margin: 0px;
  padding: 0px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  right: 0;
  z-index: 9;
  font-family: "Roboto", sans-serif;
  /* Hambuger hover animation */
}

.hamburger > span {
  display: block;
  margin: 9px auto;
  background-color: #707070;
  width: 50%;
  height: 5px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 7;
}

.hamburger:hover span:first-child {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hamburger:hover span:last-child {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

/* Hambuger click animation to cross */
.hamburger.is-opened span:first-child {
  -webkit-transform: translateY(13px) rotate(50deg);
          transform: translateY(13px) rotate(50deg);
}

.hamburger.is-opened span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.hamburger.is-opened span:last-child {
  -webkit-transform: translateY(-15px) rotate(-50deg);
          transform: translateY(-15px) rotate(-50deg);
}

.inside {
  position: absolute;
  top: 0;
  overflow-x: hidden;
  width: 100%;
  height: 45%;
  font-size: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background-image: linear-gradient(to right, red, orange);
  display: none;
  white-space: pre-line;
}

.inside > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Pridi", serif;
  margin: 5px;
}

.p {
  display: block;
  opacity: 0%;
}

@media screen and (max-width: 961px) {
  .inside {
    display: none;
  }
}

.global-link {
  text-decoration: none;
  color: #ffffff;
}

.global-underline {
  display: inline-block;
  position: relative;
}

.global-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #3498DB;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.global-underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom display;
          transform-origin: bottom display;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  font-family: "Roboto", sans-serif;
  font: 15px;
  position: absolute;
  height: 60px;
  bottom: -3%;
  background-color: #3B3B3B;
  width: 100%;
  color: #ffffff;
}

.footer_.copy {
  margin: 5px;
  position: absolute;
  left: 0;
}

.footer_.links-main {
  float: right;
  margin: 5px;
}

.footer_.link {
  float: right;
  margin: 5px;
}

.global-link {
  text-decoration: none;
  color: #ffffff;
}

.global-underline {
  display: inline-block;
  position: relative;
}

.global-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #3498DB;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.global-underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom display;
          transform-origin: bottom display;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.hello {
  color: #707070;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 38px;
  bottom: 58%;
}

.list {
  color: #707070;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 35px;
  bottom: 53%;
}

.me {
  top: 6%;
  right: 0;
  margin-right: 10%;
  height: 729px;
  width: 450px;
  right: -15%;
  position: absolute;
}

.image {
  margin: 50px;
  position: absolute;
  left: -1.4%;
  bottom: 43.8%;
}

.image1 {
  margin: 50px;
  position: absolute;
  left: 3.5%;
  bottom: 43%;
}

.image2 {
  margin: 50px;
  position: absolute;
  left: 9.5%;
  bottom: 43.4%;
}

.image3 {
  margin: 50px;
  position: absolute;
  left: 15.5%;
  bottom: 44.1%;
}

.mobile-br {
  display: none;
}

@media screen and (max-width: 1024px) {
  .list {
    font-size: 40px;
  }
}

@media screen and (max-width: 736px) {
  .me {
    top: 17.4%;
    left: 22%;
    height: 230px;
    width: 220px;
  }
  .hello {
    bottom: 30%;
  }
  .list {
    bottom: 10%;
  }
  .image {
    bottom: 1%;
    left: -4%;
  }
  .image1 {
    bottom: 0%;
    left: 9%;
  }
  .image2 {
    bottom: 1%;
    left: 24%;
  }
  .image3 {
    bottom: 2%;
    left: 40%;
  }
  .mobile-br {
    display: block;
  }
  .logo {
    left: -4%;
  }
}

.soon {
  color: #707070;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 38px;
  bottom: 62%;
}
/*# sourceMappingURL=index.css.map */