@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

/* Hambuger style */
.hamburger {
  float: right;
  width: 100px;
  margin: 0px;
  padding: 0px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  right: 0;
  z-index: 9;
  /* Hambuger hover animation */
}

.hamburger > span {
  display: block;
  margin: 9px auto;
  background-color: #707070;
  width: 50%;
  height: 5px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 7;
}

.hamburger:hover span:first-child {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hamburger:hover span:last-child {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

/* Hambuger click animation to cross */
.hamburger.is-opened span:first-child {
  -webkit-transform: translateY(13px) rotate(50deg);
          transform: translateY(13px) rotate(50deg);
}

.hamburger.is-opened span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.hamburger.is-opened span:last-child {
  -webkit-transform: translateY(-15px) rotate(-50deg);
          transform: translateY(-15px) rotate(-50deg);
}

.inside {
  position: absolute;
  top: 0;
  overflow-x: hidden;
  width: 100%;
  height: 45%;
  font-size: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background-image: linear-gradient(to right, red, orange);
  display: none;
  white-space: pre-line;
}

.inside > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Pridi", serif;
  margin: 5px;
}

.p {
  display: block;
  opacity: 0%;
}

@media screen and (max-width: 961px) {
  .inside {
    display: none;
  }
}

.global-underline {
  display: inline-block;
  position: relative;
}

.global-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #3498DB;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.global-underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom display;
          transform-origin: bottom display;
}

.global-link {
  text-decoration: none;
  color: #ffffff;
}

.global-underline {
  display: inline-block;
  position: relative;
}

.global-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #3498DB;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.global-underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom display;
          transform-origin: bottom display;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  font-family: "Roboto", sans-serif;
  font: 15px;
  position: absolute;
  height: 60px;
  bottom: 0;
  background-color: #3B3B3B;
  width: 100%;
  color: #ffffff;
}

.footer_.copy {
  margin: 5px;
  position: absolute;
  left: 0;
}

.footer_.links-main {
  float: right;
  margin: 5px;
}

.footer_.link {
  float: right;
  margin: 5px;
}

.global-link {
  text-decoration: none;
  color: #ffffff;
}

.global-underline {
  display: inline-block;
  position: relative;
}

.global-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #3498DB;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.global-underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom display;
          transform-origin: bottom display;
}

* {
  margin: 0;
  padding: 0;
  color: #cfcbcb;
}

.logo {
  margin: 20px;
}

.all {
  display: block;
  cursor: default;
}

/* main title*/
.title {
  margin: 100px;
  padding: 0;
  text-align: left;
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

/* main title scaling*/
/*phone*/
@media screen and (max-width: 769px) {
  .title {
    font-size: 40px;
    margin: 5px;
  }
}
/*# sourceMappingURL=index.css.map */