@import"_fonts.scss";
@import "_Color.scss";
@import "_header.scss";
@import "_footer.scss";

* {
    margin: 0;
    padding: 0;
}
.background {
    background: url(/images/code.png) no-repeat top;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -2;
    filter: blur(9px);
    transform: scale(1.1);
}
.title{
    margin: 5px;
    padding: 40px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.project-explain{
    margin: 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    &.explain-text{
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
}